.nav{
	background-color: black;
	height: 10px;
	width: 100%;
	position: fixed;
	text-align: center;
}
#score{
	background-color: black;
	border: 1px solid;
	padding: 20px 0;
	color: white;

}
#title-container{
	height: 500px;
	background-color: green;
	margin-bottom: 100px;
	text-align: center;
}
#title-content{
	margin-top: 200px;
}