.nav{
	background-color: #f44242;
	height: 10px;
	width: 100%;
	position: fixed;
	text-align: center;
}
#score{
	background-color: #f44242;
	border: 1px solid;
	padding: 20px 0;
	color: white;

}
#title-container{
	height: 500px;
	/*background-color: yellow;*/
	background-image: url("/images/bg2.png");
	text-align: center;
	min-width: 555px;
}
#title-content{
	margin-top: 150px;
}
h1{
	font-family: 'Ranchers', cursive;
	font-size: 80px;
}
p{
	font-family: 'Ranchers', cursive;
	font-size: 30px;
}